[submodule "Assets/VJson/Editor/Tests/Schema/JSON-Schema-Test-Suite"]
	path = Assets/VJson/Editor/Tests/Schema/JSON-Schema-Test-Suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite
[submodule "JSON-Schema-Test-Suite"]
	path = JSON-Schema-Test-Suite
	url = https://github.com/json-schema-org/JSON-Schema-Test-Suite
[submodule "nunit-transforms"]
	path = nunit-transforms
	url = https://github.com/nunit/nunit-transforms.git
